# Исполняемые и объектные файлы отладки
/Debug/
/VisionConsole/Debug/
/VisionCore/Debug/

# Исполняемые и объектные файлы релиза
/Release/
/VisionConsole/Release/
/VisionCore/Debug/

#x64
/x64/
/VisionConsole/x64/
/VisionCore/x64/

# Всякие файлы Visual Studio
*.sdf
*.opensdf
*.suo
*.vcxproj.user