# Исполняемые и объектные файлы отладки
/Debug/
/VisionConsole/Debug/
/VisionCore/Debug/

# Исполняемые и объектные файлы релиза
/Release/
/VisionConsole/Release/
/VisionCore/Debug/

# Всякие файлы Visual Studio
*.sdf
*.opensdf
*.suo
*.vcxproj.user